# More .gitignore templates: https://github.com/github/gitignore
# General
*.log
*.tmp
*.swp
*.DS_Store
Thumbs.db

# IDE files
.idea/*
# .vscode/*
sublime-project

# Build output
node_modules/
build/*

# Package managers
package-lock.json
yarn.lock

# Testing
coverage/*

# Local settings
.env

# Personal files
README.personal.md

# Gitleaks reports
gitleaks-report.json
gitleaks-report.txt
